.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buttons button{
    padding: 7px 12px;
    background: #0D98BA;
    color: white;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    border: 1px solid #012831;
    border-radius: 5px;
}
.buttons button:hover , .randomNum button:hover{
    background: #0d97baa1;
}
.randomNum{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
#randomNum{
    font-size: 18px;
    color: #012831;
}
.randomNum button{
    padding: 7px 12px;
    background: #0D98BA;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #012831;
}
.checkedProperty{
    margin-top: 50px;
}